@font-face {
    font-family: 'tca_icon';
    src:    url('fonts/tca_icon.eot?nr5tvy');
    src:    url('fonts/tca_icon.eot?nr5tvy#iefix') format('embedded-opentype'),
        url('fonts/tca_icon.ttf?nr5tvy') format('truetype'),
        url('fonts/tca_icon.woff?nr5tvy') format('woff'),
        url('fonts/tca_icon.svg?nr5tvy#tca_icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="tca-icon-"], [class*=" tca-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'tca_icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tca-icon-check:before {
    content: "\f00c";
}
.tca-icon-download:before {
    content: "\f019";
}
.tca-icon-edit:before {
    content: "\f040";
}
.tca-icon-arrow-right:before {
    content: "\f061";
}
.tca-icon-arrow-up:before {
    content: "\f062";
}
.tca-icon-arrow-down:before {
    content: "\f063";
}
.tca-icon-expand:before {
    content: "\f065";
}
.tca-icon-collapse:before {
    content: "\e902";
}
.tca-icon-cart:before {
    content: "\f07a";
}
.tca-icon-info:before {
    content: "\f129";
}
.tca-icon-info-circle:before {
    content: "\e903";
}
.tca-icon-share:before {
    content: "\f1e0";
}
.tca-icon-trash:before {
    content: "\f1f8";
}
.tca-icon-headset:before {
    content: "\e901";
}
.tca-icon-file-pdf:before {
    content: "\e904";
}
.tca-icon-file-xls:before {
    content: "\e905";
}
.tca-icon-file:before {
    content: "\e906";
}
.tca-icon-file-zip:before {
    content: "\e907";
}
.tca-icon-chart:before {
    content: "\e900";
}
.tca-icon-table:before {
    content: "\e90b";
}
.tca-icon-mail:before {
    content: "\e908";
}
.tca-icon-ellipsis-h:before {
    content: "\e909";
}
.tca-icon-leaf:before {
    content: "\e90a";
}
.tca-icon-sort-alpha-asc:before {
    content: "\e90c";
}
.tca-icon-sort-alpha-desc:before {
    content: "\e90d";
}
.tca-icon-move-left:before {
    content: "\e90e";
}
.tca-icon-move-right:before {
    content: "\e90f";
}
.tca-icon-move-left-all:before {
    content: "\e910";
}
.tca-icon-move-right-all:before {
    content: "\e911";
}
.tca-icon-options:before {
    content: "\e912";
}

